@media screen and (min-width: 768px) and (max-width: 1024px){
    .calculator{
        min-width: 30%;
        min-height: 70%;
    }
    .checkbox{
        min-width: 20px;
        min-height: 20px;
    }
}
@media screen and (max-width: 768px){
    .calculator{
        min-width: 40%;
        min-height: 70%;
    }
    .checkbox{
        min-width: 20px;
        min-height: 20px;
    }
}
@media screen and (min-width: 375px) and (max-width: 425px){
    .calculator{
        min-width: 60%;
    }
    .checkbox{
        max-width: 25px;
        max-height: 25px;
    }
}
@media screen and (min-width: 325px) and (max-width: 375px){
    .calculator{
        min-width: 90%;
        min-height: 85%;
    }
    .checkbox{
        max-width: 20px;
        max-height: 20px;
    }
}
@media screen and (min-width: 100px) and (max-width: 325px){
    .calculator{
        min-width: 100%;
        min-height: 80%;
    }
    .checkbox{
        max-width: 20px;
        max-height: 20px;
    }
}